<div class="flex flex-col md:flex-row mx-2 md:mx-auto">
    <div class="w-full flex flex-col items-center justify-center gap-3 py-4">
        <h1 class="text-lg font-bold">Restore a Database</h1>
        <h2 id="errorMessage" class="text-red-800 font-bold">{{ error }}</h2>
        <div class="w-92/100 sm:w-80/100 md:w-112">
            <div class=" w-full mt-4">
                <label for="backupFile" class="input-label">Select Backup File</label>
                <input id="backupFile" (change)="backupFileChange($event)"
                    type="file" autocomplete="off"
                    class="file-input" />
            </div>
            <div class="flex justify-center mt-10">
                <button type="button" id="restore-db-submit"
                    (click)="handleSubmit()"
                    class="form-button">Restore PwdDb
                        @if (isLoading) {
                            <i class="loader-white text-2xl ms-2"></i>
                        }
                </button>
            </div>
        </div>
        <p class="note">
            * NOTE: You will still need the Secret Key (and optional Key File) to open
            this Db once it is restored.
        </p>
    </div>
</div>
