<div class="w-96/100 max-w-112 mx-auto">
    <div class="flex justify-between items-center w-full mx-2 mt-4">
        <h1 class="text-xl font-bold">Settings</h1>
        @if (hasOpenDb) {
            <a routerLink="/show" class="fill-blue-800 me-4" title="Back">
                <app-svg-back class="w-6 h-6" />
            </a>
        } @else {
            <a routerLink="/open" class="fill-blue-800 me-4" title="Back">
                <app-svg-back class="w-6 h-6" />
            </a>
        }
    </div>
    <div class="flex items-center justify-between w-full max-w-112 mx-auto bg-gray-50  px-4 py-2">
        <a routerLink="/create" id="create-db-link"
            class="font-semibold text-blue-900 text-lg">Create DB</a>
        <span class="inline-block">start with a new empty DB.</span>
    </div>
    <div class="flex items-center justify-between w-full max-w-112 mx-auto bg-gray-50  px-4 py-2">
        @if (hasOpenDb) {
            <a routerLink="/export/backup-db" id="backup-db-link"
                class="font-semibold text-blue-900 text-lg">Backup DB</a>
        } @else {
            <a class="font-semibold text-gray-400 text-lg cursor-not-allowed">Backup DB</a>
        }
        <span class="inline-block">to an encrypted json file.</span>
    </div>
    <div class="flex items-center justify-between w-full max-w-112 mx-auto bg-gray-50  px-4 py-2">
        <a routerLink="/restore" id="restore-db-link"
            class="font-semibold text-blue-900 text-lg">Restore DB</a>
        <span class="inline-block">from an ecrypted backup file.</span>
    </div>
    <div class="flex items-center justify-between w-full max-w-112 mx-auto bg-gray-50  px-4 py-2">
        @if (hasOpenDb) {
            <a routerLink="/export/json" id="export-json-link"
                class="font-semibold text-blue-900 text-lg">Export DB</a>
        } @else {
            <a class="font-semibold text-gray-400 text-lg cursor-not-allowed">Export DB</a>
        }
        <span class="inline-block">to an unencrypted json file.</span>
    </div>
    <div class="flex items-center justify-between w-full max-w-112 mx-auto bg-gray-50  px-4 py-2">
        <a routerLink="/import" id="import-db-link"
            class="font-semibold text-blue-900 text-lg">Import DB</a>
        <span class="inline-block">from an unecrypted json file.</span>
    </div>
</div>
