<header class="bg-blue-900 text-white md:flex">
    <div class="flex w-full md:w-fit items-center justify-between md:justify-start px-4 py-3">
        <a routerLink="/tasks/all">
            <h1 class="text-xl font-semibold me-4">{{ title }}</h1>
        </a>
        <div class="block md:hidden mt-1">
            <button (click)="toggleMenu($event)" id="toggle-menu-button">
                @if (isOpen) {
                    <app-svg-close class="w-7 h-7 fill-white bg-blue-900 mx-auto" />
                }
                @else {
                    <app-svg-menu class="w-7 h-7 fill-white bg-blue-900 mx-auto" />
                }
            </button>
        </div>
    </div>
    <div id="topNavMenu"
        class="flex flex-col md:flex-row justify-start md:justify-between md:items-center
            overflow-hidden max-h-0 md:max-h-screen w-full transition-all
            md:transition-none duration-300 ease-in-out">
        <div class="md:flex md:justify-start">
            @if (stateService.hasOpenDb()) {
                <div class="ms-4 mb-2 md:mb-0">
                    <a routerLink="/open" (click)="toggleMenu($event);" id="close-db-link"
                        routerLinkActive="bg-blue-700"
                        class="w-fit block rounded font-semibold
                            hover:bg-blue-600 p-2">
                        Close Db
                    </a>
                </div>
                <div class="ms-4 mb-2 md:mb-0">
                    <a routerLink="/save" (click)="toggleMenu($event);" id="save-db-link"
                        routerLinkActive="bg-blue-700"
                        class="w-fit block rounded font-semibold
                            hover:bg-blue-600 p-2">
                        Save Db
                    </a>
                </div>
                <div class="ms-4 mb-2 md:mb-0">
                    <a routerLink="/trash" (click)="toggleMenu($event);" id="trash-link"
                        routerLinkActive="bg-blue-700"
                        class="w-fit block rounded font-semibold
                            hover:bg-blue-600 p-2">
                        Trash
                    </a>
                </div>
            } @else {
                <div class="ms-4 mb-2 md:mb-0">
                    <a routerLink="/open" (click)="toggleMenu($event);" id="open-db-link"
                        routerLinkActive="bg-blue-700"
                        class="w-fit block rounded font-semibold
                            hover:bg-blue-600 p-2">
                        Open Db
                    </a>
                </div>
            }
        </div>
        <div class="md:flex md:justify-end items-center py-4 md:py-0">
            <div class="ms-4 md:me-4 mb-2 md:mb-0">
                <a routerLink="/settings" (click)="toggleMenu($event)" id="settings-link"
                    routerLinkActive="bg-blue-700"
                    class="w-fit block rounded font-semibold
                        hover:bg-blue-600 p-2">
                    Settings
                </a>
            </div>
        </div>
    </div>
</header>
